<launch>


    <!-- run thrower_mission.cpp -->
    <node pkg="mavros" type="thrower_mission" name="thrower_mission" output="screen">

        <!-- Read parameters -->
	<rosparam command="load" file="/home/sss/catkin_ws/src/mavros/mavros/launch/thrower_mission_config.yaml" />
    </node>

</launch>


